* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  font-family: "Segoe UI", "Roboto", sans-serif;
  background-color: #282c34;
  color: #9da5b4;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flexdirection: row;
  height: 100vh;
}

.json-viewer {
  font-family: "Consolas", "Courier New", Courier, monospace;
  font-size: 14px;
  color: #9da5b4;
  background-color: #282c34;
  margin-top: 20px;
}

.line {
  position: relative;
  line-height: 1.5;
}

.collapse-icon {
  user-select: none;

  display: inline-block;
  width: 15px;
  margin-left: -20px;
  cursor: pointer;
  color: #9da5b4;
}

.collapsed {
  color: #f9826c;
}

.key {
  color: #9cdcfe;
  user-select: none;
  cursor: pointer;
}

.value {
  color: #ce9178; /* The color for the value in the JSON */
}
.string {
  color: #ce9178;
} /* color for string values */
.number {
  color: #b5cea8;
} /* color for number values */
.boolean {
  color: #569cd6;
} /* color for boolean values */
.null {
  color: #808080;
} /* color for null values */

.nested {
  padding-left: 20px;
  border-left: 1px solid #333;
}

.collapsible .key::after {
  content: "{...}";
  display: none;
  color: #ce9178;
}

.collapsible.collapsed .key::after {
  display: inline;
}

.path-copy-container {
  margin-bottom: 20px;
}

.path-copy-container button.copied {
  background-color: #34a853;
}
.app-container::-webkit-scrollbar {
  width: 8px;
  background-color: #2c313a;
}
.app-container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
  border: 2px solid #2c313a;
}

.app-container::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
.app-container {
  scrollbar-width: thin;
  scrollbar-color: #555 #2c313a;
}
.instructions {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.instructions h2 {
  margin-bottom: 10px;
}

.instructions ul {
  list-style: inside;
}

.famous-quote {
  font-family: "Segoe UI", "Roboto", sans-serif;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.famous-quote p {
  font-weight: bold;
  color: #9da5b4;
  text-align: left;
}
.famous-quote p {
  margin-top: 0;
  font-style: italic;
}
